html, body {
  height: 100%;
  width:100%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #006666;
  color: #000;
}
h1, h3
{
  color:#e6ffff;
}
.scheme-name
{
  font-size:20px;
  color:#c9c9c9;
}
input {
  margin:10px;
  border-radius: 10px;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
  font-size: 22px;
  color: #000;
  background:#fff;
}
.input-fields
{
  width:300px;
  height: 40px;

}
::-webkit-input-placeholder {
   text-align: center;
}
:-moz-placeholder {
   text-align: center;
}
::-moz-placeholder {
   text-align: center;
}
:-ms-input-placeholder {
   text-align: center;
}
.submit
{
  background: #808080;
  color:#000;
  font-size: 18px;
  width:100px;
}
