<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pokémon Search App">
    <meta name="author" content="AKASH CHOUDHARY">
    <title>Present Worth Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link href="../static/style.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <h1>Present Worth Calculator</h1>
    <h3>Axis Long Term Equity Fund - Direct Plan - Dividend option</h3>
    <form action="{{url_for('homepage')}}" method="POST">
      <input style="text-align:center" placeholder="Enter date of investment" class="textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="given_date" value="{{given_date}}" max="2017-11-22" min="2015-04-01" title="Investment date" required><br>
      <input style="text-align:center" type="number" placeholder="Enter Amount in Rs." name="amount" min="0" value="{{amount}}" title="Invested Amount" required><br>
      <input type="Submit" value="Calculate" class="submit"><br>
    </form>
    <br><h3>The calculated present worth value:<h3>
    <input style="text-align:center" type="text" name="present_worth" value="{{present_worth}}" title="Present Worth Value" readonly >
  </div>
</body>

</html>
