<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Present Worth Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link href="../static/style.css" rel="stylesheet">
</head>

<body>
  <section>
    <div class="container">
      <div class="row">
        <div class="text-center">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>Axis Mutual Fund</h1>
            <h3>Open Ended Schemes ( ELSS )</h3><br>
          </div>
        </div>
      </div>
      <div class="row">
        <form action="{{url_for('homepage')}}" method="POST">
          <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3">
            <input type="radio" name="options" value="dividend" {{dividend_checked}} required><span class="scheme-name"> Axis Long Term Equity Fund - Dividend</span></input><br>
            <input type="radio" name="options" value="direct_dividend" {{direct_dividend_checked}}><span class="scheme-name"> Axis Long Term Equity Fund - Direct Plan - Dividend option</span></input><br>
            <input type="radio" name="options" value="growth" {{growth_checked}}><span class="scheme-name"> Axis Long Term Equity Fund - Growth</span></input><br>
            <input type="radio" name="options" value="direct_growth" {{direct_growth_checked}}><span class="scheme-name"> Axis Long Term Equity Fund - Direct Plan - Growth Option</span></input><br><br>
          </div>
          <div class="text-center">
            <input class="input-fields" style="text-align:center" placeholder="Enter date of investment" class="textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="given_date" value="{{given_date}}" max="2017-11-22" min="2015-04-01" title="Investment date" required><br>
            <input class="input-fields" style="text-align:center" type="number" placeholder="Enter Amount in Rs." name="amount" min="0" value="{{amount}}" title="Invested Amount" step="any" required><br>
            <input class="submit" type="Submit" value="Calculate" class="submit"><br>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="text-center">
          <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <br><h3>The calculated present worth value:<h3>
              <input class="input-fields" style="text-align:center" type="text" name="present_worth" value="{{present_worth}}" title="Present Worth Value" readonly >
            </div>
          </div>
        </div>
      </div>
    </section>
</body>
</html>
